 /* ==============FONTS========================== */
 @font-face {
   font-family: 'Source Sans 3';
   font-style: normal;
   font-weight: 400;
   src: url('fonte/SourceSans3-Regular.woff2') format('woff2'), url('fonte/SourceSans3-Regular.woff') format('woff');
   font-display: swap;
 }

 @font-face {
   font-family: 'Source Sans 3';
   font-style: normal;
   font-weight: 500;
   src: url('fonte/SourceSans3-Medium.woff2') format('woff2'), url('fonte/SourceSans3-Medium.woff') format('woff');
   font-display: swap;
 }

 @font-face {
   font-family: 'Source Sans 3';
   font-style: normal;
   font-weight: 600;
   src: url('fonte/SourceSans3-SemiBold.woff2') format('woff2'), url('fonte/SourceSans3-SemiBold.woff') format('woff');
   font-display: swap;
 }

 @font-face {
   font-family: 'Source Sans 3';
   font-style: normal;
   font-weight: 700;
   src: url('fonte/SourceSans3-Bold.woff2') format('woff2'), url('fonte/SourceSans3-Bold.woff') format('woff');
   font-display: swap;
 }
 /* ==============BODY========================== */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Source Sans 3';
}
body {
background: white;
}

 /* ==============HEADER========================== */
 header {
   position: fixed;
   top: 0;
   width: 100%;
   height: clamp(40px, 5vh, 60px);
   background: white;
   border: 3px solid black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   z-index: 100;
   font-weight: 700;
   cursor: default;
 }

 header .logo {
   cursor: pointer;
   font-size: clamp(16px, 4vw, 22px);
   white-space: nowrap;
 }

 header nav a {
   text-decoration: none;
   color: black;
   margin-left: 20px;
   font-weight: 600;
   font-size: clamp(14px, 3vw, 20px);
   white-space: nowrap;
 }

 header nav a:hover {
   font-weight: 700;
 }

 @media(max-width: 480px) {
   header {
     padding: 0 10px;
   }

   header nav a {
     margin-left: 10px;
     font-size: 14px;
   }

   header .logo {
     font-size: 16px;
   }
 }

 /* ==============MAIN========================== */
 .container {
   display: flex;
   flex-direction: row;
   height: calc(100vh - 30px);
   margin-top: 30px;
   position: relative;
   transition: transform 1.4s cubic-bezier(0.25, 1.15, 0.4, 1);
   z-index: 1;
   overflow: hidden;
   background: white;
   border: 2px solid black;
     will-change: transform;

 }

.container.hidden {
  transform: translateY(100vh);
}

 .column {
   flex: 1;
   display: flex;
   flex-direction: column;
   overflow-y: auto;
 }

 .image-box {
   width: auto;
      height: 87%;
   aspect-ratio: 1/1;
   border: 2px solid black;
   cursor: pointer;
 }

 .image-box img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
 }

 /* ==============PROJECT========================== */
#project-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 0;
  overflow-y: auto;
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE / Edge ancien */
  -webkit-overflow-scrolling: touch;

}
#project-container::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari, iOS */
}


 .column::-webkit-scrollbar {
   display: none;
 }

 @media(max-width:680px) {


  html,
  body {
    height: auto;
    overflow-y: auto;
  }

  .container {
    height: auto;
    overflow-y: auto;
  }



   .container {
     flex-direction: column;
     height: auto;
   }

   .column {
     width: 100%;
     height: auto;
   }

 
 }

/* PROJECT CONTENT */
#project-content {
  display: flex;
  flex-direction: column;
  height: auto;
  position: absolute;   /* <-- changer fixed -> absolute */
  top: 44px;            /* sous le header */
  left: 0;
  right: 0;
  bottom: 0;            /* remplit l'espace disponible */
  box-sizing: border-box;
  overflow: hidden;     /* pas de scroll global */
}
#project-title{
     font-size: clamp(19px, 3vw, 26px);
   font-weight: 600;
   line-height: 1.2;
   }
#project-desc{
     font-size: clamp(16px, 2vw, 20px);
     padding-top: 10px;
   line-height: 1.19;
   }
 .project-info {

   white-space: nowrap;
   overflow: hidden;
   font-size: clamp(14px, 2vw, 18px);
 }
/* layout texte / images */
#project-layout {
  display: flex;
  flex: 1;          /* prend tout l'espace restant */
  min-height: 0;    /* clé pour scroll interne */

}

/* colonne gauche – texte fixe */
#project-text {

 width: 33.3333%;
  padding: 0px 20px;
  box-sizing: border-box;
  border: 3px solid black;
overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* texte en haut */
  align-items: center;         /* centrer horizontalement */
  min-height:200px;               /* important pour flex */
  overflow: hidden;            /* éviter scroll interne */
}

#project-text > h2,
#project-text > p {
  width: 100%;
}

#project-text-image {
  margin-top: 40px;
  width: 90%;
  max-width: 100%;   /* jamais plus large que la colonne */
  max-height: 70vh;  /* limite hauteur sans dépasser la colonne */
  object-fit: cover;
  border: 3px solid black;
}
#project-text-buttons {
width: 50%;
min-width: 30%;
  display: flex;
  justify-content:center;
  align-items: center;

}
#project-text-buttons button {
  background: none;
  border: none;
  cursor: pointer;
    font-weight: 700;
      font-size: clamp(14px,3vw, 18px);
      padding: 20px;

}

 #project-type-label {
  text-align: center;
  flex: 1;
  font-weight: 400;
     font-size: clamp(10px, 3vw, 16px);
}
/* colonne droite – images scrollables */
#project-media {
  width: 66.6666%;
  height: 100%;
  overflow-y: auto;  /* seul le scroll ici */
  min-height: 0;     /* important pour flex */
  scrollbar-width: none;
  -ms-overflow-style: none;
   
}
#project-media::-webkit-scrollbar {
  display: none;
}

/* images */
#project-images {
 display: flex;
  flex-direction: column;
}
.project-img {
  width: 100%;
  max-height: 700px;
  overflow: hidden;
}
.project-img img {
  width: 100%;
  height: 100%; /* images responsive */
  display: block;
  object-fit: cover;
     border: 3px solid black;
}

.project-row {
  display: flex;

}
.project-row .project-img {
  flex: 1;
}

.project-row .project-img.wide {
  flex: 1.5;
}

.project-row .project-img.square {
  flex: 1;
}
/* responsive */


@media (max-width: 978px) {  
  /* colonne droite : images en 1 colonne */

  #project-layout {
    flex-direction: column;
    height: 100%;
    }
  #project-text{
     width: 100%;

  }
#project-text-image {
    display: none !important; /* force la disparition */
}
  #project-media {
    width: 100%;
    height: 100%;  /* tu peux ajuster */
        overflow-y: auto;
  }

 
    #project-content {
  top: 40px;

  }

}

@media (max-width: 680px) {  
  /* colonne droite : images en 1 colonne */

  .project-row {
    flex-direction: column;
  }
  
  .project-img,
  .project-img.wide {
    flex: 1;
    width: 100%;


}
   }



